@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
  /* --line-color: #0D1117; */

}

.borderBlack {
  @apply border dark:border-white/[0.2] border-black/[0.1];
}

.btn-highlight-none{
  -webkit-tap-highlight-color: transparent;
}
